<% content_for(:title, "List | To Do") %>

<%= image_tag "to-do.jpg" %>

<h1>Lists</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>

  <hr>

   <%= link_to "New List", new_list_path, class: "btn btn-default" %>
